/*
	Moja własna personalizacja bootstrapa.
	Napisuje kolorki i cienie w domyślnym stylu.
*/

.bg-primary { background: #42b983 !important; }

.btn-outline-primary {
	color: #42b983;
	border-color: #42b983;
}

.btn-outline-primary:hover {
	background: #42b983;
	border-color: #42b983;
}

.form-control:focus, .btn:focus {
	border-color: #42b983;
	outline: 0;
	box-shadow: 2px 2px #42b983;
}